<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dist/style.css' %}">
    <title>{% block title %}My amazing site{% endblock %}</title>

</head>

<body>
    <div class="w-full h-[200px] bg-gray-500" id="sidebar">
        {% block sidebar %}
        <ul>
            <li class="underline decoration-sky-500"><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>